<div *ngIf="!loading" class="row mt-4" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [infiniteScrollDisabled]="false" [scrollWindow]="true">
    <div class="col-lg-3 mb-lg-0 col-md-6 mb-3">
        <a [routerLink]="['create']" class="text-decoration-none">
            <div class="card border shadow">
                <div class="card-body text-center">
                    <b><fa-icon [icon]="['fas','plus']"></fa-icon>&nbsp;Create Invoice</b>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 mb-3" *ngFor="let invoice of invoices">
        <!-- <div class="list-group list-group-flush" >
            <a [routerLink]="['create']" *ngIf="customers.length !== 0" class=" p-3 list-group-item list-group-item-action  text-center">
                <small><b><fa-icon [icon]="['fas','plus']"></fa-icon>&nbsp;Create Invoice</b></small>
            </a>
        </div> -->
        <a [routerLink]="[invoice.invoiceId]" class="text-decoration-none">
            <div class="card border shadow">
                <div class="card-body text-center">
                    <h5 class="card-title">{{invoice.customer | titlecase}}</h5>
                    <ul class="list-group">
                        <li class="list-group-item p-1" [ngClass]="{
                            'list-group-item-warning': invoice.status === 'draft',
                            'list-group-item-primary': invoice.status === 'open',
                            'list-group-item-success': invoice.status === 'paid',
                            'list-group-item-dark': invoice.status === 'refund' || invoice.status === 'void',
                            'list-group-item-danger': invoice.status === 'uncollectible'
                        }">
                            <h6 class="card-subtitle" >{{invoice.status | titlecase}}</h6>
                        </li>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    <div class="col text-center bg-light" *ngIf="!invoices.length">
        <p class="m-0 py-3">No invoices for Q{{quarter}} of {{year}}</p>
    </div>
</div>
<div class="row" *ngIf="loading">
    <div class="col text-center py-4">
        <div role="status" class="spinner-border ">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>