<div *ngIf="loading" class="pt-5 text-center">
    <span class="spinner spinner-border text-dark" aria-hidden="true"></span>
</div>
<app-toast></app-toast>
<div class="card shadow m-auto my-5 card-width" *ngIf="!loading">
    <div class="card-header">
        <button type="button" class="close btn-close float-end" aria-label="Close" (click)="close()"></button>
    </div>
    <div class="card-body">
        <h4 class="card-title text-center py-4 font-monospace">Latest Invoice</h4>
        <hr>
        <div class="row">
            <div class="col">
                <h5 class="card-title text-center list-group-item" [ngClass]="{
                                'list-group-item-warning': invoice.status === 'draft',
                                'list-group-item-primary': invoice.status === 'open',
                                'list-group-item-success': invoice.status === 'paid',
                                'list-group-item-dark': invoice.status === 'refund' || invoice.status === 'void' ,
                                'list-group-item-danger': invoice.status === 'uncollectible'
                            }">
                    {{invoice.status | titlecase}}
                </h5>
                <div class="row mb-4">
                    <div class="col text-center">
                        <a href="{{invoice.url}}" class="text-center link-dark">{{invoice.number}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 mb-4">
                <div class="card border-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <b>Customer</b>
                            </div>
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                        <small class="text-muted">Name</small>
                        <p class="mb-1 font-monospace">{{invoice.customer.name}}</p>
                        <small class="text-muted">Email</small>
                        <p class="mb-1">
                            <a class="link-dark font-monospace" href="mailto: {{invoice.customer.email}}">{{invoice.customer.email}}</a>
                        </p>
                        <small class="text-muted">Phone</small>
                        <p class="mb-1 font-monospace">{{invoice.customer.phone}}</p>
                        <small class="text-muted">Address</small>
                        <p class="text-dark mb-1 font-monospace">{{invoice.customer.address.line1}}</p>
                        <p class="text-dark mb-1 font-monospace" *ngIf="invoice.customer.address.line2">
                            {{invoice.customer.address.line2}}</p>
                        <p class="text-dark mb-1 font-monospace">{{invoice.customer.address.city}},
                            {{invoice.customer.address.state}},
                            {{invoice.customer.address.postal_code}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card border-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <b>Service</b>
                            </div>
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                        <small class="text-muted">Tile</small>
                        <p class="mb-1 font-monospace">{{invoice.service.title}}</p>
                        <small class="text-muted">Description</small>
                        <div class="overflow-hidden view-more">
                            <p #description class="mb-1 font-monospace">{{invoice.service.description}}</p>
                        </div>
                        <div class="row mb-1" *ngIf="description.offsetHeight > 90">
                            <div class="col">
                            </div>
                            <div class="col-auto text-muted">
                                <a class="link-dark" href="javascript:void(0)" (click)="viewMore($event, description)"><small>view more</small></a>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                        <small class="text-muted">Cost</small>
                        <p class="mb-1 font-monospace">${{invoice.total}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4" *ngIf="invoice.timeSlot">
                <div class="card border-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <b>Time Slot</b>
                            </div>
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                        <ng-container *ngIf="invoice.interval === 'week'">
                            <small class="text-muted">Day</small>
                            <p class="mb-1 font-monospace">Every {{invoice.timeSlot.startTime | date:'EEEE'}}</p>
                            <small class="text-muted">Time</small>
                            <p class="mb-1" font-monospace>{{invoice.timeSlot.startTime | date:'shortTime'}} -
                                {{invoice.timeSlot.endTime | date:'shortTime'}}&nbsp;{{invoice.timeZone}}</p>
                        </ng-container>
                        <ng-container *ngIf="invoice.interval === 'month'">
                            <small class="text-muted">Day</small>
                            <p class="mb-1 font-monospace">Every {{invoice.timeSlot.startTime | date:'d'}} of the month</p>
                            <small class="text-muted">Time</small>
                            <p class="mb-1 font-monospace">{{invoice.timeSlot.startTime | date:'shortTime'}} -
                                {{invoice.timeSlot.endTime | date:'shortTime'}}&nbsp;{{invoice.timeZone}}</p>
                        </ng-container>
                        <ng-container *ngIf="invoice.interval === 'year'">
                            <small class="text-muted">Day</small>
                            <p class="mb-1 font-monospace">Every {{invoice.timeSlot.startTime | date:'MMMM d'}}</p>
                            <small class="text-muted">Time</small>
                            <p class="mb-1 font-monospace">{{invoice.timeSlot.startTime | date:'shortTime'}} -
                                {{invoice.timeSlot.endTime | date:'shortTime'}}&nbsp;{{invoice.timeZone}}</p>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row" *ngIf="invoice.status === 'paid'">
            <div class="col">
                <button class="btn btn-secondary w-100" (click)="refundCustomer()">Refund</button>
            </div>
        </div>
        <div class="row mt-4" *ngIf="invoice.status === 'refund'">
            <div class="col text-center">
                <small class="text-muted">Refunded </small>
                <small>{{invoice.refunded | date:'short'}}</small>
            </div>
        </div>
        <div class="row mt-4" *ngIf="invoice.status !== 'refund'">
            <div class="col text-center">
                <small class="text-muted">Created </small>
                <small>{{invoice.created | date:'short'}}</small>
            </div>
        </div>
    </div>
</div>