<div *ngIf="loading" class="pt-5 text-center">
    <span class="spinner spinner-border text-dark" aria-hidden="true"></span>
</div>
<div class="card m-auto my-5 card-width" *ngIf="!loading">
    <div class="card-header">
        <button type="button" class="close btn-close float-end" aria-label="Close" (click)="close()"></button>
    </div>
    <div class="card-body">
        <h4 class="card-title text-center py-4 font-monospace">{{quote.title}}</h4>
        <hr>
        <form #pf #quoteForm="ngForm" novalidate>
            <div class="row g-0 mb-3" *ngIf="quote.images.length !== 0">
                <div class="col">
                    <div id="imageCarousel" class="carousel slide m-auto carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <ng-container *ngFor="let image of quote.images;index as i">
                                <button type="button" data-bs-target="#imageCarousel" attr.data-bs-slide-to="{{i}}"
                                    class="bg-danger" [ngClass]="{'active': i ==0}" aria-current="true"
                                    aria-label="Slide i+1"></button>
                            </ng-container>
                        </div>
                        <div class="carousel-inner">
                            <div *ngFor="let image of quote.images; index as j" class="carousel-item"
                                [ngClass]="{'active': j==0}">
                                <div class="w-100 text-center position-absolute">
                                    <button type="button" class="btn-close mt-3 bg-danger"
                                        (click)="removeImage(j)" aria-label="Close"></button>
                                </div>
                                <img src="{{image}}" class="border p-1 shadow-sm rounded d-block w-100">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group mb-4">
                <input #input hidden type="file" id="images" accept="image/png, image/jpeg"
                    class="form-control bg-light" placeholder="" (change)="addImage($event)">
                <button class="btn btn-secondary w-100" (click)="openFileExplorer()">
                    Add images
                </button>
            </div>
            <div class="alert border mb-4 mt-1" [ngClass]="{'border-danger border-2':quote.archived}" role="alert">
                <div class="row">
                    <div class="col">
                        <label class="form-check-label" for="archived">Archived</label>
                    </div>
                    <div class="col-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input border-secondary" type="checkbox" [ngClass]="{'bg-light':!quote.archived}" name="archived" id="archived"
                                value="true" [(ngModel)]="quote.archived">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-floating mb-4">
                <select class="form-select bg-light" id="categorySelect" [(ngModel)]="quote.category" name="category"
                    (change)="selectSubCategories()"
                    aria-label="category select" required>
                    <option value="" disabled selected>Select a category</option>
                    <option *ngFor="let category of categories" value="{{category.category}}">{{category.category}}
                    </option>
                </select>
                <label for="typeSelect">Category</label>
                <div class="invalid-feedback">
                    Provide category
                </div>
            </div>
            <div class="form-floating mb-4" *ngIf="subCategories.length !== 0">
                <select [disabled]="quote.category === ''" class="form-select bg-light" aria-label="subCategories select"
                    [(ngModel)]="quote.subCategory" id="subCategory" name="subCategory"
                    [attr.required]="subCategories.length !== 0" (change)="selectFilters()">
                    <option value="" disabled selected>Select a subcategory</option>
                    <option *ngFor="let subCategory of subCategories" value="{{subCategory.subCategory}}">
                        {{subCategory.subCategory}}
                    </option>
                </select>
                <label for="subCategory">Subcategory</label>
                <div class="invalid-feedback">
                    Provide subcategory
                </div>
            </div>
            <div class="form-floating mb-4" *ngIf="specialties.length !== 0">
                <select class="form-select bg-light" id="filtersSelect" aria-label="Filters label" multiple [(ngModel)]="quote.specialties" style="height:120px" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let specialty of specialties" [ngValue]="specialty">{{specialty}}</option>
                </select>
                <label for="filtersSelect">Specialties</label>
            </div>
            <div class="alert border mb-4" role="alert">
                <div class="row">
                    <div class="col">
                        <label class="form-check-label" for="selectPlaces">Select places</label>
                    </div>
                    <div class="col-auto" *ngIf="quote.selectPlaces">
                        <a href="javascript:void(0)" (click)="openAreasModal()">edit</a>
                    </div>
                    <div class="col-3">
                        <div class="form-check form-check-inline">
                            <input #selectPlacesElement class="form-check-input border-secondary" type="checkbox" [ngClass]="{'bg-light':!quote.selectPlaces}"
                                name="selectPlaces" id="selectPlaces" [(ngModel)]="quote.selectPlaces"
                                [ngModelOptions]="{standalone: true}" (ngModelChange)="selectPlacesUpdate()">
                            
                        </div>
                    </div>
                    <small *ngIf="selectPlacesError" class="text-danger">Provide states and cites.</small>
                </div>
            </div>
            <div class="form-group my-4 form-floating">
                <input type="text" id="title" class="form-control bg-light" name="title" [(ngModel)]="quote.title"
                    aria-describedby="title" placeholder="" maxlength="90" required>
                <label for="title">Title</label>
                <div class="invalid-feedback">
                    Provide title
                </div>
            </div>
            <div class="form-group mb-4 form-floating">
                <textarea id="description" class="form-control bg-light" name="description" style="height:240px"
                    [(ngModel)]="quote.description" aria-describedby="description" placeholder="" required
                    maxlength="450"></textarea>
                <label for="description">Description</label>
                <div class="invalid-feedback">
                    Provide description
                </div>
            </div>
            <hr>
            <div class="form-group mb-4 mt-5">
                <button class="btn btn-outline-danger w-100" (click)="close()">Cancel</button>
            </div>
            <div class="form-group my-4">
                <button *ngIf="!updateSent" (click)="update(quoteForm)"
                    class="btn btn-primary w-100">Update</button>
                <button *ngIf="updateSent" class="btn btn-primary w-100" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </button>
            </div>
            <!-- <hr> -->
            <!-- <app-share [url]="url"></app-share> -->
        </form>
    </div>
</div>
<app-toast></app-toast>