.custom-card {
    max-width: 580px;
    border-top-color: #4682b4;
    border-top-width: 3px;
}

.max-svg-width {
    max-width: 540px;
    width: 100%;
}

.types-card {
    min-height:240px
}

.small {
    font-size: 10px;
}

.max-width {
    max-width: 260px;
}

.max-width-potrait {
    max-width: 140px;
}

.nowrap {
    white-space: nowrap;
}

.card-width {
    max-width: 480px;
}