<ng-template #customMonthViewHeader>
    <div role="row" class="cal-cell-row cal-header">
        <div tabindex="0" role="columnheader" class="cal-cell cal-past cal-weekend"> Sun </div>
        <div tabindex="0" role="columnheader" class="cal-cell cal-past"> Mon </div>
        <div tabindex="0" role="columnheader" class="cal-cell cal-past"> Tue </div>
        <div tabindex="0" role="columnheader" class="cal-cell cal-past"> Wed </div>
        <div tabindex="0" role="columnheader" class="cal-cell cal-past"> Thu </div>
        <div tabindex="0" role="columnheader" class="cal-cell cal-today"> Fri </div>
        <div tabindex="0" role="columnheader" class="cal-cell cal-future cal-weekend"> Sat </div>
    </div>
</ng-template>

<ng-template #customWeekViewHeader let-days="days" let-trackByWeekDayHeaderDate="trackByWeekDayHeaderDate">
    <div role="row" class="cal-day-headers">
        <div *ngFor="let day of days; trackBy: trackByWeekDayHeaderDate" [class.cal-past]="day.isPast"
            [class.cal-today]="day.isToday" [class.cal-future]="day.isFuture" [class.cal-weekend]="day.isWeekend"
            tabindex="0" role="columnheader" class="cal-header cal-past cal-weekend">
            <b>{{ day.date | date:'cccccc' }}</b>
        </div>
    </div>
</ng-template>

<div class="card shadow mt-5 mt-lg-0">
    <div class="card-header">
        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span *ngIf="interval === '' && !loading" >{{viewDate | date:'mediumDate'}}</span>
        <button [disabled]="loading" *ngIf="view === CalendarView.Day" type="button" class="close btn-close float-end" aria-label="Close" (click)="closeDayView()"></button>
        <button [disabled]="loading" *ngIf="view === CalendarView.Month" type="button" class="btn btn-sm btn-secondary float-end" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="nextMonth()"
        >
            <fa-icon [icon]="['fas','caret-right']"></fa-icon>
        </button>
        <button [disabled]="loading" *ngIf="view === CalendarView.Month" type="button" class="btn btn-sm btn-secondary float-end me-3" mwlCalendarToday [(viewDate)]="viewDate">Today</button>
        <span *ngIf="interval === 'month' && !loading">Monthly subscription</span>
        <span *ngIf="interval === 'year' && !loading">Yearly subscription</span>
        <span *ngIf="interval === 'week' && !loading">Weekly subscription</span>
    </div>
    <div class="card-body p-0">
        <div [ngSwitch]="view" class="position-relative" #scrollContainer>
            <div *ngSwitchCase="CalendarView.Day">
                <a *ngIf="view !== CalendarView.Month && interval !== 'week'" href="javascript:void(0)"
                    (click)="closeModal()" class="back text-dark position-absolute end-0 pe-3 pt-3"><fa-icon
                        [icon]="['fas','caret-left']"></fa-icon> back</a>
                <mwl-calendar-day-view [viewDate]="viewDate" [events]="calendarEvents" [refresh]="refresh">
                </mwl-calendar-day-view>
            </div>
            <div *ngSwitchCase="CalendarView.Week">
                <mwl-calendar-week-view [viewDate]="viewDate" [events]="calendarEvents" [refresh]="refresh"
                    [headerTemplate]="customWeekViewHeader">
                </mwl-calendar-week-view>
            </div>
            <div *ngSwitchCase="CalendarView.Month">
                <mwl-calendar-month-view *ngIf="interval === 'month'" [viewDate]="viewDate" [events]="calendarEvents"
                    [refresh]="refresh" (dayClicked)="dayClicked($event.day)" [headerTemplate]="customMonthViewHeader"
                    (beforeViewRender)="beforeMonthViewRender($event)">
                </mwl-calendar-month-view>
                <mwl-calendar-month-view *ngIf="interval === 'year'" [viewDate]="viewDate" [events]="calendarEvents"
                    [refresh]="refresh" (dayClicked)="dayClicked($event.day)" [headerTemplate]="customMonthViewHeader"
                    (beforeViewRender)="beforeYearViewRender($event)">
                </mwl-calendar-month-view>
                <mwl-calendar-month-view *ngIf="interval === ''" [viewDate]="viewDate" [events]="calendarEvents"
                    [refresh]="refresh" (dayClicked)="dayClicked($event.day)" [headerTemplate]="customMonthViewHeader"
                    (beforeViewRender)="beforeViewRender($event)">
                </mwl-calendar-month-view>
            </div>
        </div>
    </div>
</div>