<div class="modal-header">
    <img width="25" src="assets/images/icon.png">
    <button type="button" class="close btn-close" aria-label="Close"
        (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body bg-light text-center">
    <div class="vstack font-monospace">
        <span *ngIf="!subscription">{{startTime | date:'fullDate'}}</span>
        <span *ngIf="subscription && interval==='week'">{{startTime | date:'EEEE'}}s</span>
        <span *ngIf="subscription && interval==='month'">Every {{startTime | date:'d' | day }} of the month</span>
        <span *ngIf="subscription && interval==='year'">Every {{startTime | date:'LLLL'}} {{startTime | date:'d' | day}}</span>
        <div class="hstack gap-3 m-auto mt-3 mb-4">
            <span class="fw-bold">{{startTime | date:'h:mm'}}</span>
            <span>-</span>
            <input *ngIf="isEditable" type="time" class="form-control w-auto" [(ngModel)]="_endTime" max="00:00">
            <span class="fw-bold" *ngIf="!isEditable">{{endTime | date:'h:mm'}}{{endTime | date : 'a' | lowercase }}&nbsp;{{getTimezoneShort(endTime)}}</span>
        </div>
        <div *ngIf="!subscription && isEditable" class="hstack gap-3 m-auto">
            <input [(ngModel)]="fiveWeeks" class="form-check-input border-secondary m-0" type="checkbox" value="" id="fiveWeekTimeSlot">
            <small>Add time slot for the next 5 weeks</small>
        </div>
    </div>
</div>
<div class="modal-footer" *ngIf="!isCustomer">
    <small *ngIf="error" class="float-start text-danger">Invalid time range</small>
    <small *ngIf="!isEditable">Booked customers {{booked}}</small>
    <button *ngIf="!isEditable" type="button" class="btn btn-secondary"
        (click)="activeModal.dismiss('Cross click')">Close</button>
    <button *ngIf="isEditable" type="button" class="btn btn-secondary"
        (click)="confirmSelection()">Confirm</button>
</div>
<div class="modal-footer" *ngIf="isCustomer">
    <button type="button" class="btn btn-secondary" (click)="bookTimeSlot()">Confirm</button>
</div>