<app-navbar></app-navbar>
<div class="row g-0">
    <div class="col-lg-6 col-md-6 custom-padding px-5">
        <h1 class="alice-font">Adam Williams</h1>
        <h6 class="text-muted">CEO</h6>
        <p class="mt-4 lead">
            I created Redbud Way to help people make an income without all the cost. Those who possess the skills but are unsure of how or where to begin. In today's world, everything is online, and if I can assist by offering the tools, why not?
        </p>
        <div class="row mb-5">
            <div class="col-auto">
                <a href="https://www.facebook.com/awilliams1989/" target="_blank" rel="noopener noreferrer">
                    <fa-icon size="xl" [icon]="['fab','facebook']"></fa-icon>
                </a>
            </div>
            <div class="col-auto">
                <a href="https://www.linkedin.com/in/awilliams1989/" target="_blank" rel="noopener noreferrer">
                    <fa-icon size="xl" [icon]="['fab','linkedin']"></fa-icon>
                </a>
            </div>
            <div class="col-auto">
                <a class="" href="mailto:awilliams@redbudway.com">
                    <fa-icon size="xl" [icon]="['fas','envelope']"></fa-icon>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 p-5">
        <div *ngIf="loading" class="m-auto text-center custom-padding">
            <div class="spinner spinner-border" role="status"></div>
        </div>
        <img [hidden]="loading" (load)="onLoad()" src="assets/images/ceo.jpg" style="max-width: 440px;"
            class="w-100 rounded-circle shadow">
    </div>
</div>
