.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.custom-day.focused {
    background-color: #e6e6e6;
}
.custom-day.disabled {
    color: #6c757d;
    cursor: default;
    pointer-events: none;
}
.custom-day.range,
.custom-day:hover {
    background-color: rgb(7, 130, 180);
    color: white;
}
.custom-day.faded {
    background-color: rgba(7, 130, 180, 0.5);
}