<div class="row" *ngIf="quotes.length && !loading" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [infiniteScrollDisabled]="false" [scrollWindow]="true">
    <div class="col-lg-3 col-md-6 mb-3" *ngFor="let quote of quotes">
        <a [routerLink]="[quote.quoteId]" class="text-decoration-none">
            <div class="card border shadow">
                <div class="card-body text-center">
                    <h5 class="card-title">{{quote.customer | titlecase}}</h5>
                    <!-- <small class="text-muted" *ngIf="quote.number !== ''">{{quote.number}}</small> -->
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-action " [ngClass]="{
                            'list-group-item-warning': quote.status === 'draft',
                            'list-group-item-primary': quote.status === 'open',
                            'list-group-item-success': quote.status === 'accepted',
                            'list-group-item-secondary': quote.status === 'canceled'
                         }">
                            <h6 class="card-subtitle">{{quote.status | titlecase}}</h6>
                        </li>
                    </ul>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row" *ngIf="quotes.length === 0 && !loading">
    <div class="col text-center bg-light">
        <p class="m-0 py-4">No quotes for Q{{quarter}} of {{year}}</p>
    </div>
</div>
<div class="row m-4" *ngIf="loading">
    <div class="col text-center">
        <div role="status" class="spinner-border ">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>