.view-more {
    height: 25px;
}

.list-group-item-custom {
    background-color: #4682b41a;
}

.icon {
    width: 25px;
    height: 25px;
}

.star {
    font-size: 24px !important;
}

.card-width {
    max-width: 920px;;
}

.image-size {
    max-width: 360px;
}